<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand">Real Estate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="text-primary"
          [routerLinkActiveOptions]="{'exact': true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="projects" routerLinkActive="text-primary">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="buildings" routerLinkActive="text-primary">Buildings</a>
        </li>
        <li class="nav-item" *ngIf="global.isLoggedIn">
          <a class="nav-link" routerLink="/me" routerLinkActive="text-primary">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!global.isLoggedIn">
          <button class="btn btn-primary" routerLink="login">Login</button>
        </li>
        <li class="nav-item" *ngIf="global.isLoggedIn">
          <a class="btn btn-danger" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
